.contact {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 17px;
  color: $dark-text-color;
  color: #fe7865;
  letter-spacing: 0;
}

.contact__icon {
  margin-right: 17px;

  fill: #d7d9df;
  stroke: #d7d9df;
  stroke-width: 0;

  &--black {
    stroke: $dark-text-color;
  }
}
