.container {
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 76px;
    padding-left: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-right: calc((100% - 1170px) / 2);
    padding-left: calc((100% - 1170px) / 2);
  }
}
