.corporate-travel {
  padding-top: 30px;
}

.corporate-travel__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.corporate-travel__text {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(#141517, 0.5);
}
