.countries-info {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
  }
}

.countries-info__buttons-list {
  @include list-reset;

  display: flex;
  width: calc(100% + 32px);
  margin-bottom: 25px;
  margin-left: -16px;
  padding-bottom: 0;
  overflow-x: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (min-width: $tablet-width) {
    width: calc(100% + 42px);
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.countries-info__buttons-list::-webkit-scrollbar {
  height: 0;
}

.countries-info__buttons-item {
  margin-right: 100px;

  &:first-child {
    margin-left: 16px;
  }

  &:last-child {
    margin-right: 16px;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";

    display: block;
    width: calc(100% + 100px);
    height: 1px;
    margin-top: 10px;

    background-color: rgba(44, 46, 63, 0.3);
  }
}

.countries-info__button {
  padding-right: 0;
  padding-left: 0;

  font-weight: 500;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: rgba(44, 46, 63, 0.3);
  letter-spacing: -0.5px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &--select {
    color: $accent-color;
  }
}

.countries-info__list {
  @include list-reset;
}

.countries-info__item {
  display: none;

  &--select {
    display: block;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.countries-info__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    position: relative;

    align-items: flex-start;
    width: 370px;
    padding-top: 15px;
  }
}

.countries-info__title {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;

    &::after {
      margin-top: 18px;
    }
  }
}

.countries-info__img-container {
  order: 1;
}

.countries-info__img {
  width: 100vw;

  object-fit: cover;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 470px;

    width: 430px;
    height: 596px;
  }
}

.countries-info__text {
  margin-top: 0;
  margin-bottom: 20px;

  line-height: 28px;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;

    text-align: left;
  }
}

.countries-info__button-buy {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.countries-info__review {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 430px;
  margin-top: -365px;
  margin-right: calc((100% - 268px) / 2);
  margin-left: calc((100% - 268px) / 2);
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 34px;
  padding-left: 20px;

  background-color: $background-color;

  @media (min-width: $tablet-width) {
    min-height: 365px;
    margin-top: -335px;
    margin-right: calc((100% - 382px) / 2);
    margin-left: calc((100% - 382px) / 2);
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 382px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 26px;
    padding-bottom: 30px;
  }
}

.countries-info__review-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;

  &::after {
    content: "";

    display: block;
    width: calc(100% - 10px);
    height: 1px;
    margin-top: 10px;

    background-color: $accent-color;
  }

  @media (min-width: $tablet-width) {
    align-items: start;
    align-self: flex-start;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.7px;

    &::after {
      width: 68px;
      margin-top: 12px;

      background-color: $accent-color;
    }
  }
}

.countries-info__review-text {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 14px;
  line-height: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    text-align: left;
    letter-spacing: -0.4px;
  }
}

.countries-info__review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;

  line-height: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
  }
}

.countries-info__review-avatar {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
