.page {
  @media (min-width: $desktop-width) {
    background-image: url("./../img/desktop-background-countries-info@1x.png");
    background-repeat: no-repeat;
    background-position: -110px 2700px;
    background-size: 1444px 1088px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("./../img/desktop-background-countries-info@2x.png");
    }
  }
}

.page__preview {
  margin-bottom: 80px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 200px;
  }
}

.page__countries {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 95px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 125px;
  }
}

.page__countries-info {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 230px;
  }
}
