.title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    max-width: 425px;

    font-size: 55px;
    line-height: 80px;
    text-align: left;
    letter-spacing: -1.1px;

    &::after {
      content: "";
      margin-top: 30px;

      display: block;
      width: 175px;
      height: 4px;

      background-color: $accent-color;
    }
  }
}
