body {
  margin: 0;

  font-size: 16px;
  line-height: 27px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $basic-text-color;
  letter-spacing: -0.5px;
}

img {
  vertical-align: bottom;
}
