@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin mobile-container {
  padding-right: 16px;
  padding-left: 16px;
}

@mixin tablet-container {
  padding-right: 76px;
  padding-left: 76px;
}

@mixin desktop-container {
  padding-right: calc((100vw - 1170px) / 2);
  padding-left: calc((100vw - 1170px) / 2);
}
