$accent-color: #fe7865;
$hover-accent-color: #f17d4b;
$basic-text-color: #2c2e3f;
$dark-text-color: #141517;
$background-color: #ffffff;

$tablet-width: 768px;
$desktop-width: 1220px;

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
